<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-block" data-bs-toggle="modal" data-bs-target="#channelModal">
  Add Channel
</button>

<!-- Modal -->
<div class="modal fade" id="channelModal" tabindex="-1" aria-labelledby="channelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "channels/form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>