<p>
  <strong>Name:</strong>
  <%= business.name %>
</p>
<p>
  <strong>Num of employees:</strong>
  <%= business.num_of_employees %>
</p>
<p>
  <strong>Industry:</strong>
  <%= business.industry.name %>
</p>
