<div class="container-fluid">
  <h4 class="text-center my-5">Businesses</h4>
  <% if current_user.businesses.size < 1 %>
    <div class="text-center normal-fonts">
      <p>Please Create a Business</p>
      <%= link_to "New business", new_business_path, class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="row">
    <div id="businesses">
      <% @businesses.each do |business| %>
        <%= render business %>
      <% end %>
    </div>
  </div>
</div>


