<div class="container-fluid bg-light p-5" style="height: 100vh">
  <%#= link_to businesses_path do %>
    <%#= render "shared/buttons/back-icon"%>
  <%# end %>
  <h2 class="heading-fonts text-center my-5">Setup Your Business</h2>
  <div class="row">
    <div class="col-md-7 mx-auto">
      <%= render "form", business: @business %>
    </div>
  </div>
</div>
