<div class="container">
  <h2 class="heading-fonts text-center my-5">Setup Your Business</h2>
  <div class="row">
    <div class="col-md-7 mx-auto">
      <%= render "form", business: @business %>
    </div>
  </div>
  <div>
    <%= link_to "Back to businesses", businesses_path %>
  </div>
</div>
