<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#weeklyDataEntry">
  Add Weekly Entry
</button>

<!-- Modal -->
<div class="modal fade" id="weeklyDataEntry" tabindex="-1" aria-labelledby="weeklyDataEntryLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "weekly_data_entries/form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>