$robotoFonts: 'Roboto', sans-serif;
$mainBackgroundColor: #047d57;

#error_explanation {
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-family: $robotoFonts;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
  font-family: $robotoFonts;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  font-family: $robotoFonts;
}

.normal-fonts {
  font-family: $robotoFonts;
  font-weight: 400;
}

.heading-fonts {
  font-family: $robotoFonts;
  font-weight: 700;
}

label {
  font-family: $robotoFonts;
  padding: 10px 0px;
}

#goal_quater_name {
  width: 100%;
  padding: 5px;
}

#channel-leads-per-week {
  input {
    width: 100%;
  }
}

select {
  width: 100%;
  padding: 5px;
}

@media print {
  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-grid {
    display: grid !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }

  .d-print-none {
    display: none !important;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("engineer-laptop-talking-min.png") no-repeat center right;
  background-size: cover;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

header.masthead:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

header.masthead h1,
header.masthead .h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  header.masthead h1,
  header.masthead .h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}


.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.logo {
  display: inline;
  vertical-align: bottom;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  margin-top: 2px;
  /* if you want it vertically middle of the navbar. */
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("bg-showcase-3.jpg") no-repeat bottom center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.devise-links {
  color: #f4faf4;
  font-family: $robotoFonts;
  font-weight: 900;
}

.devise-links:hover{
  color: #024002;
}

.back-icon {
  font-size: 1.5em;
  background: #198754;
  color: white;
  border-radius: 30px;
  padding: 5px;
}

#business-goals-dashboard-left-sidebar{
  min-height: 100vh;
  background-color: #047d57;
}

.scoreboard-icon{
  color: white;
  font-size: 2em;
}

.sidebar-headings{
  color: #f5f6f769;
}

.list-style-none{
  list-style: none;
  padding: none;
}

.sidebar-list-link{
  color: #ffffff9e;
}

.sidebar-list-link:hover{
  color: #ffffffe4;
}

.sidebar-icons{
  color: #ffffff59;
}

#dashboard-nav{
  background-color: #0b513b;
  padding: 10px 0px;
}

#business-goals-main{
  padding: 0px;
}

.dashboard-nav-name{
  border-left: 1px solid #ffffff8f;
  padding: 5px 20px;
  color: #ffffff9e;
}

.modal-inline-btn{
  background: #1cc88a;
  color: white;
  border: 1px solid #1cc88a;
  padding: 5px;
  outline: none;
  border-radius: 5px;
}

.dark-faint{
  color: #858796;
}

.general-view-link{
  color: #057c57;
  font-weight: 900;
}

.general-view-link:hover{
  color: #28bc8d;
}

.general-delete-link{
  color: red;
  font-weight: 900;
}

.general-delete-link:hover{
  color: rgb(247, 142, 142); 
}

.chart-pie{
  min-height: 300px;
}

.transparent-btn{
  border: none;
  background: none;
  text-decoration: underline;
}

#new_user{
  label{
    color: white;
    font-weight: 900;
  }
}

.auth-btns{
  border: 2px solid white;
  background: #2ce6a4;
  color: white;
  font-weight: 900;
  padding: 5px;
  border-radius: 10px;
}

.auth-btns:hover{
  background: #047d57;
}

.alert-alert{
  background: #f8d7da;
  color: #842029;
}

.alert-notice{
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.edit-link-yellow{
  border: none;
  background: transparent;
  color: #b0b002;
}
.edit-link-yellow:hover{
  color: #e0e015;
  text-decoration: underline;
}

#select_id{
  border: 2px solid #b5b0b0;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.dashboard-heading{
  color: red;
}

#accordionSidebar{
  background-color: #047d57; 
  width: 300px;
}

.score-borad-tag{
  font-weight: 800;
  font-size: 1.3em;
}

.background-green{
  background-color: $mainBackgroundColor;
}

/* ########## media query ########## */
@media only screen and (max-width: 768px) {
  .dashboard-heading{
    font-size: 1.2em !important;
  }

  #accordionSidebar{
    width: 100px !important;
  }
}