$robotoFonts: 'Roboto', sans-serif;

#error_explanation {
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-family: $robotoFonts;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
  font-family: $robotoFonts;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  font-family: $robotoFonts;
}

.normal-fonts{
  font-family: $robotoFonts;
  font-weight: 400;
}

.heading-fonts{
  font-family: $robotoFonts;
  font-weight: 700;
}

label{
  font-family: $robotoFonts;
  padding: 10px 0px;
}