<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #0b513b; padding-right: 50px;">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="bi bi-list"></i>
  </button>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <div class="topbar-divider d-none d-sm-block"></div>
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <div class="dropdown">
        <a class="dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <span><%= current_user.first_name %></span>
          <img style="width: 40px;" class="sidebar-card-illustration mx-2" src="/assets/undraw_profile-9bafc822646b3bd68527e91e2d74d980658945d7207091d77c13cf2ff2a8ef4c.svg">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li> 
            <% if current_user.present? %>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "transparent-btn" %>
            <% end %>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
