<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #047d57">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Scoreboard</div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0" />
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Heading -->
  <div class="sidebar-heading">Business Setup</div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="goals.html">
      <i class="fas fa-fw fa-list"></i>
      <span>Business Goals</span>
    </a>
  </li>
  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="weekly-data.html">
      <i class="fas fa-fw fa-pen"></i>
      <span>Weekly Data Entry</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Heading -->
  <div class="sidebar-heading">Business Data</div>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>
  <!-- Nav Item - Business Stats -->
  <li class="nav-item">
    <a class="nav-link" href="statistics.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Business Stats </span></a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
  <!-- Sidebar Message -->
  <div class="sidebar-card d-none d-lg-flex">
    <img class="sidebar-card-illustration mb-2" src="img/undraw_profile.svg" alt="..." />
    <p class="text-center mb-2">
      <strong>Client Scoreboard Customer Support</strong> is
      availale for user onboarding or any other issue you
      might have.
    </p>
    <a class="btn btn-success btn-sm" href="mailto:support@clientscorboards.com">Contact Us</a>
  </div>
</ul>
