<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #047d57">
  <!-- Sidebar - Brand -->
  <li>
    <% if current_user.businesses.present? && current_user.businesses.first.goals.present? %>
      <%= link_to scoreboard_summary_goal_path(current_user.businesses.first.goals.first), class: "sidebar-brand d-flex align-items-center justify-content-center" do %>
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Scoreboard</div>
      <% end %>
    <% end %>
  </li>
  <!-- Divider -->
</ul>
